.qty {
	font-size: 2.4em;
	background-color: transparent;
	text-align: left;
	border-width: 0;
	width: 100%;
	margin: 0 0 .1em 0;
	color: #c43048;
}


.qtybtn {
	/* basics */
	color: #fff;
	background-color: #4e4949;
	/* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;

}

.qtybtn1 {
	/* basics */
	color: #fff;
	background-color: #4e4949;
	/* rounded corners */
    -webkit-border-radius: 6px;
          border-radius: 6px; 
    -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-weight: bold;

}