<footer id="footer">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-4">
                    <h2>Discover</h2>
                    <ul class="discover triangle hover row">
                        <li class="col-xs-6"><a href="#">About</a></li>
                        <li class="col-xs-6"><a href="#">Careers</a></li>
                        <li class="col-xs-6"><a href="#">Press</a></li>
                        <li class="col-xs-6"><a href="#">Policies</a></li>
                        <li class="col-xs-6"><a href="#">Mobile</a></li>
                        <li class="col-xs-6"><a href="#">Press</a></li>
                        <li class="col-xs-6"><a href="#">Blog Posts</a></li>
                        <li class="col-xs-6"><a href="#">Help</a></li>
                    </ul>
                </div>
                <div class="col-sm-8 col-md-4">
                    <h2>Mailing List</h2>
                    <p>Sign up for our mailing list to get latest updates and offers</p>
                    <br />
                    <div class="icon-check">
                        <input type="text" class="input-text full-width" placeholder="your email" />
                    </div>
                    <br />
                    <span>We respect your privacy</span>
                </div>
                <div class="col-sm-8 col-md-4">
                    <h2>About NiYa</h2>
                    <p>Get a venue for your weddings, conferences or social events. Browse through our hand-picked selection of South Africa's best locations including outdoor, restaurant, hotel or reception rooms</p>
                    <br />
                    <address class="contact-details">
                        <span class="contact-phone"><i class="soap-icon-phone"></i> +233 244 412 623
                            <ul class="social-icons clearfix">
                                <li class="twitter"><a title="twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                <li class="facebook"><a title="facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                <li class="linkedin"><a title="linkedin" href="#" data-toggle="tooltip"><i class="soap-icon-linkedin"></i></a></li>
                            </ul>
                        </span>
                    </address>

                </div>
            </div>
        </div>
    </div>
    <div class="bottom gray-area">
        <div class="container">
            <div class="logo pull-left">
                <a href="index.html" title="NiYa - home">
                    <img src="images/logo.png" alt="NiYa" />
                </a>
            </div>
            <div class="pull-right">
                <a id="back-to-top" href="#" class="animated" data-animation-type="bounce"><i class="soap-icon-longarrow-up circle"></i></a>
            </div>
            <div class="copyright pull-right">
                <p>&copy; 2017 NiYa</p>
            </div>
        </div>
    </div>
</footer>
